<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card shadow text-dark mt-4">
            <div class="card-header">
                <h4 class="text text-center">Register!!</h4>
            </div>
            <!-- BIND THE FORM TO bookingForm instance and invoke bookTicket() method on form submission -->
            <form>
                <div class="card-body">
                    <!-- 
                        Create input fields with appropriate labels and form controls and 
                        render the error messages for incorrect input only if the field is dirty and has invalid data
                      -->
            
                    <div class="form-group">
                        <!-- FORM CONTROL ==> customerName -->
                         <label for="email">Email</label>
                         <input type="email" class="form-control" id="email">

                        <div id="emailerror">
                            <!-- Message for required error ==> 'Field Required' -->
                            <!-- Message for pattern error ==> 'Name can have only alphabets and white space' -->
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <!-- FORM CONTROL ==> customerName -->
                         <label for="password">password</label>
                         <input type="password" class="form-control" id="password">

                        <div id="passworderror">
                            <!-- Message for required error ==> 'Field Required' -->
                            <!-- Message for pattern error ==> 'Name can have only alphabets and white space' -->
                        </div>
                    </div>

                    
                   
                </div>
                <div class="card-footer text-center">
                    <div class="form-group">
                        <!-- button should be disabled till bookingForm becomes valid -->
                        <button class="btn btn-outline-success btn-sm btn-block mr-4" id="login" type="submit">
                            register
                        </button>
                    </div>
                    <!-- Add the code to redirect to Airlines page on click of Check out other flights? button -->
                    <button class="btn btn-link" id="SignUP">
                        
                    </button>

                    <!-- render the success and error messages based on form submission response -->
                    <!-- <div *ngIf="errorMessage" class="text text-danger" id="errorMessage"> -->
                    <!-- ERROR MESSAGE COMES HERE -->
                </div>
                <!-- <div *ngIf="successMessage" class="text text-success" id="successMessage"> -->
                <!-- SUCCESS MESSAGE COMES HERE -->
        <!-- </div> -->

        </form>
    </div>
</div>
</div>