<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container nacContentContainer">
        <div class="navDetails">
            <div class="discussifyLogo">
                <a class="navbar-brand" href="#">Discussify</a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="commintyDetails collapse navbar-collapse" id="navbarSupportedConten">
                <ul class="d-flex">
                    <li> <button class="btn btn-success" id="createCommunity" type="submit" (click)="createCommunity()">Create Community</button></li>
                    <li> <button class="btn btn-success" id="joinCommunity" type="submit" (click)="joinCommunity()">Join Community</button></li>
                    <li> <button class="btn btn-outline-success" id="login" type="submit" (click)="login()">Login</button></li>
                    <li><button class="btn btn-danger" type="submit" (click)="signup()">SignUP</button></li>
                </ul>
            </div>
        </div>
    </div>
</nav>