<div class="searchCommuntyAndAddCommunity mt-5">
    <div class="container">
        <div class="row">
            <div class="col col-md-3 col-sm-12 col-lg-3 borderSearch">
                <div class="searchCommunity">
                    <div class="searchCommuntyHeader">
                        <h3>Search Community</h3>
                    </div>
                    <div class="searchBox mt-5">
                        <input class="form-control me-2" type="search" placeholder="Search Community....." aria-label="Search">
                    </div>
                    <div class="hereAllCommunity mt-1">
                        <div class="logoCommunity">
                            <div class="logo d-flex">
                                <img type="file" src="../../assets/image.png" alt="Logo" width="100%">
                                <b>nameComm</b> 
                            </div>
                            <div class="CommunityDesc">
                                <p>fhieuhgidbnvkdjnbvksrenhoihnb</p>
                            </div>
                            <!-- <div class="communityName">
                               
                            </div> -->
                        </div>
                       
                    </div>
                    <div class="hereAllCommunity mt-1">
                        <div class="logoCommunity">
                            <div class="logo d-flex">
                                <img src="../../assets/image.png" alt="Logo" width="100%">
                                <b>nameComm</b> 
                            </div>
                            <div class="CommunityDesc">
                                <p>fhieuhgidbnvkdjnbvksrenhoihnb</p>
                            </div>
                            <!-- <div class="communityName">
                               
                            </div> -->
                        </div>
                       
                    </div>
                    <div class="hereAllCommunity mt-1">
                        <div class="logoCommunity">
                            <div class="logo d-flex">
                                <img src="../../assets/image.png" alt="Logo" width="100%">
                                <b>nameComm</b> 
                            </div>
                            <div class="CommunityDesc">
                                <p>fhieuhgidbnvkdjnbvksrenhoihnb</p>
                            </div>
                            <!-- <div class="communityName">
                               
                            </div> -->
                        </div>
                       
                    </div>
                    <div class="hereAllCommunity mt-1">
                        <div class="logoCommunity">
                            <div class="logo d-flex">
                                <img src="../../assets/image.png" alt="Logo" width="100%">
                                <b>nameComm</b> 
                            </div>
                            <div class="CommunityDesc">
                                <p>fhieuhgidbnvkdjnbvksrenhoihnb</p>
                            </div>
                            <!-- <div class="communityName">
                               
                            </div> -->
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>